
h4 Vítejte v administračním rozhraní serveru
  a(href="/")= site_config.title
  |.
<br/>

h3 Přehled

:css
  .really_big { font-size: 40px; font-weight: bold; }
  big { font-size: 20px; }

div.container-fluid
  div.span3
    div

<br />
